In [1]:
import pandas as pd
import numpy as np
from os.path import join
import os
from rdkit import Chem
from rdkit.Chem import Crippen
from rdkit.Chem import Descriptors
from bioservices import *
from data_preprocessing import *
import warnings
warnings.filterwarnings('ignore')

CURRENT_DIR = os.getcwd()

## 1. Merging the kcat datasets from BRENDA, Sabio-RK, and UniProt:

### (a) Loading BRENDA data

In [2]:
df_Brenda = pd.read_pickle(join("..", "..", "data", "kcat_data", "BRENDA_kcat.pkl"))
#adding reaction information:
df_Brenda.rename(columns = {"correct reaction ID" : "BRENDA reaction ID"})


df_Brenda["Uniprot ID"] = np.nan
for ind in df_Brenda.index:
    try:
        df_Brenda["Uniprot ID"][ind] = df_Brenda["UNIPROT_list"][ind][0]
    except IndexError:
        pass
    
df_Brenda = df_Brenda.loc[~pd.isnull(df_Brenda["Uniprot ID"])]

    
df_Brenda.drop(columns = ["index", "ID", "comment", "kcat", "kcat_new", "enzyme",
                         "new", "LITERATURE", "UNIPROT_list", "new enzyme"],
               inplace = True)

df_Brenda.rename(columns = {"correct kcat" : "kcat", "correct reaction ID" : "BRENDA reaction ID",
                           "substrate_ID_list" : "substrate_IDs", 
                           "product_ID_list" : "product_IDs"}, inplace = True)


print("Number of data points: %s" % len(df_Brenda))
print("Number of UniProt IDs: %s" % len(set(df_Brenda["Uniprot ID"])))
print("Number of checked data points: %s" % len(df_Brenda.loc[df_Brenda["checked"]]))
print("Number of unchecked data points: %s" % len(df_Brenda.loc[~df_Brenda["checked"]]))


df_Brenda["from BRENDA"] = 1
df_Brenda["from Uniprot"] = 0
df_Brenda["from Sabio"] = 0
df_Brenda.head()

Number of data points: 8267
Number of UniProt IDs: 3149
Number of checked data points: 3611
Number of unchecked data points: 4656

,EC,ORGANISM,PMID,BRENDA reaction ID,kcat,checked,#UIDs,substrate_IDs,product_IDs,Uniprot ID,from BRENDA,from Uniprot,from Sabio
44,1.1.1.363,Leuconostoc mesenteroides,1304341.0,1485,1125.0,True,1,[InChI=1S/C21H27N7O14P2/c22-17-12-19(25-7-24-1...,"[InChI=1S/p+1, InChI=1S/C21H29N7O14P2/c22-17-1...",P11411,1,0,0
45,3.6.1.1,Thermoplasma acidophilum,1327774.0,26801,2200.0,True,1,"[InChI=1S/H2O/h1H2, InChI=1S/H4O7P2/c1-8(2,3)7...","[InChI=1S/H3O4P/c1-5(2,3)4/h(H3,1,2,3,4)/p-3]",P37981,1,0,0
64,2.5.1.7,Escherichia coli,1512209.0,12872,4.75,True,1,"[InChI=1S/C3H5O6P/c1-2(3(4)5)9-10(6,7)8/h1H2,(...","[InChI=1S/H3O4P/c1-5(2,3)4/h(H3,1,2,3,4)/p-3, ...",P0A749,1,0,0
65,1.12.98.2,Methanothermobacter marburgensis,1521540.0,3791,1462.0,True,1,"[InChI=1S/p+1, InChI=1S/C31H45N6O16P/c1-13-22-...","[InChI=1S/H2/h1H, InChI=1S/C31H43N6O16P/c1-13-...",P32440,1,0,0
84,4.1.3.40,Escherichia coli,1644758.0,28554,0.82,True,1,[InChI=1S/C10H10O6/c1-5(9(12)13)16-8-4-6(10(14...,"[InChI=1S/C3H4O3/c1-2(4)3(5)6/h1H3,(H,5,6)/p-1...",P26602,1,0,0

### (b) Loading Sabio data

In [3]:
df_Sabio = pd.read_pickle(join("..", "..", "data", "kcat_data", "Sabio_kcat.pkl"))
df_Sabio.drop(columns = ["unit", "complete", "KEGG ID"], inplace = True)
df_Sabio.rename(columns = {"products_IDs": "product_IDs"}, inplace = True)

print("Number of data points: %s" % len(df_Sabio))
print("Number of UniProt IDs: %s" % len(set(df_Sabio["Uniprot ID"])))

df_Sabio["checked"] = False
df_Sabio["#UIDs"] = 1
df_Sabio["complete"] = True
 
df_Sabio["from BRENDA"] = 0
df_Sabio["from Uniprot"] = 0
df_Sabio["from Sabio"] = 1
df_Sabio.head()

Number of data points: 2830
Number of UniProt IDs: 289

,Uniprot ID,kcat,Substrates,Products,PMID,substrate_IDs,product_IDs,checked,#UIDs,complete,from BRENDA,from Uniprot,from Sabio
0,P20932,2.8,(S)-Mandelate;Riboflavin-5-phosphate,Reduced FMN;alpha-Oxo-benzeneacetic acid,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,0,0,1
1,P20932,0.05,(S)-Mandelate;Riboflavin-5-phosphate,Reduced FMN;alpha-Oxo-benzeneacetic acid,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,0,0,1
2,P20932,0.11,Riboflavin-5-phosphate;(S)-Mandelate,alpha-Oxo-benzeneacetic acid;Reduced FMN,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,0,0,1
3,P20932,205.0,Riboflavin-5-phosphate;(S)-Mandelate,alpha-Oxo-benzeneacetic acid;Reduced FMN,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,0,0,1
4,P20932,2.3,Riboflavin-5-phosphate;(S)-Mandelate,alpha-Oxo-benzeneacetic acid;Reduced FMN,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,0,0,1

### (c) Loading UniProt data:

In [4]:
df_Uniprot = pd.read_pickle(join("..", "..", "data", "kcat_data", "Uniprot_kcat.pkl"))

df_Uniprot.drop(columns = ["unit", "reaction ID"], inplace = True)
df_Uniprot.rename(columns = {"substrate CHEBI IDs" : "Substrates", "product CHEBI IDs" : "Products", 
                            "substrate InChIs" : "substrate_IDs", "product InChIs" : "product_IDs",
                            "kcat [1/sec]" : "kcat"}, inplace = True)

print("Number of data points: %s" % len(df_Uniprot))
print("Number of UniProt IDs: %s" % len(set(df_Uniprot["Uniprot ID"])))

df_Uniprot["checked"] = False
df_Uniprot["#UIDs"] = 1

df_Uniprot["from BRENDA"] = 0
df_Uniprot["from Uniprot"] = 1
df_Uniprot["from Sabio"] = 0
df_Uniprot.head()

Number of data points: 1738
Number of UniProt IDs: 1054

,kcat,Uniprot ID,Substrates,Products,substrate_IDs,product_IDs,complete,checked,#UIDs,from BRENDA,from Uniprot,from Sabio
0,30.000000,P55217,"[CHEBI:35235, CHEBI:57661]","[CHEBI:15378, CHEBI:58161, CHEBI:30031]","[InChI=1S/C3H7NO2S/c4-2(1-7)3(5)6/h2,7H,1,4H2,...","[InChI=1S/p+1, InChI=1S/C7H14N2O4S/c8-4(6(10)1...",True,False,1,0,1,0
2,114.000000,O24721,"[CHEBI:15992, CHEBI:15379]","[CHEBI:58794, CHEBI:15378]",[InChI=1S/C11H8O3/c12-10-8-4-2-1-3-7(8)5-6-9(1...,[InChI=1S/C11H8O5/c12-9(11(15)16)6-5-7-3-1-2-4...,True,False,1,0,1,0
4,32.000000,Q79EM7,"[CHEBI:58203, CHEBI:15377, CHEBI:57540]","[CHEBI:15378, CHEBI:57945, CHEBI:17563]",[InChI=1S/C8H6O3/c9-5-6-3-1-2-4-7(6)8(10)11/h1...,"[InChI=1S/p+1, InChI=1S/C21H29N7O14P2/c22-17-1...",True,False,1,0,1,0
5,0.021667,F5BFC8,"[CHEBI:59560, CHEBI:58095, CHEBI:15379]","[CHEBI:15642, CHEBI:78290]",[InChI=1S/C9H15N5O3/c1-3(15)6(16)4-2-11-7-5(12...,[InChI=1S/C9H15N5O4/c1-3(15)5(16)4-2-11-6-9(18...,True,False,1,0,1,0
7,21.000000,P77366,[CHEBI:57684],[CHEBI:58247],[InChI=1S/C6H13O9P/c7-1-2-3(8)4(9)5(10)6(14-2)...,"[InChI=1S/C6H13O9P/c7-3-2(1-14-16(11,12)13)15-...",True,False,1,0,1,0

### (d) Merging all three datasets

In [5]:
df_kcat = pd.concat([pd.concat([df_Sabio, df_Brenda], ignore_index = True), df_Uniprot], ignore_index = True)
df_kcat =df_kcat.loc[~pd.isnull(df_kcat["kcat"])]

print("Number of data points: %s" % len(df_kcat))
print("Number of UniProt IDs: %s" % len(set(df_kcat["Uniprot ID"])))
df_kcat.to_pickle(join("..", "..", "data", "kcat_data", "kcat_data_merged.pkl"))
df_kcat.head(2)

Number of data points: 12806
Number of UniProt IDs: 4124

,Uniprot ID,kcat,Substrates,Products,PMID,substrate_IDs,product_IDs,checked,#UIDs,complete,from BRENDA,from Uniprot,from Sabio,EC,ORGANISM,BRENDA reaction ID
0,P20932,2.8,(S)-Mandelate;Riboflavin-5-phosphate,Reduced FMN;alpha-Oxo-benzeneacetic acid,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,0,0,1,NaN,NaN,NaN
1,P20932,0.05,(S)-Mandelate;Riboflavin-5-phosphate,Reduced FMN;alpha-Oxo-benzeneacetic acid,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,0,0,1,NaN,NaN,NaN

### (e) Removing duplicated entries:

In [6]:
df_kcat = pd.read_pickle(join("..", "..", "data", "kcat_data", "kcat_data_merged.pkl"))

#### Searching for identitcal pairs of UniProt IDs and kcat values:

In [7]:
droplist = []

for ind in df_kcat.index:
    UID, kcat = df_kcat["Uniprot ID"][ind], df_kcat["kcat"][ind]
    help_df = df_kcat.loc[df_kcat["Uniprot ID"] == UID].loc[df_kcat["kcat"] == kcat]
    
    df_kcat["from BRENDA"][ind], df_kcat["from Uniprot"][ind], df_kcat["from Sabio"][ind] = max(help_df["from BRENDA"]), max(help_df["from Uniprot"]), max(help_df["from Sabio"])
    df_kcat["checked"][ind] = any(help_df["checked"])
    
    if len(help_df) > 1:
        droplist = droplist + list(help_df.index)[1:]

In [8]:
df_kcat.drop(list(set(droplist)), inplace = True)
print("Dropping %s data points, because they are duplicated." % len(set(droplist)))

Dropping 1050 data points, because they are duplicated.

## 2. Downloading amino acid sequences for all data points:

### (a) Downloading sequences via UniProt IDs:

Creating a txt file with all Uniprot IDs

In [9]:
IDs = list(set(df_kcat["Uniprot ID"]))    
f = open(join("..", "..", "data", "enzyme_data", "UNIPROT_IDs.txt"), "w") 
for ID in list(set(IDs)):
    f.write(str(ID) + "\n")
f.close()

Mapping Uniprot IDs to sequences via the UniProt mapping service and saving the results in the file "UNIPROT_results.tab"

In [10]:
UNIPROT_df = pd.read_csv(join("..", "..", "data", "enzyme_data",  "UNIPROT_results.tab"), sep = "\t")
UNIPROT_df.drop(columns = ["Entry"], inplace = True)
display(UNIPROT_df.head())

df_kcat = df_kcat.merge(UNIPROT_df, how = "left", on = "Uniprot ID")
df_kcat = df_kcat.loc[~pd.isnull(df_kcat["Uniprot ID"])]

                                            Sequence  Uniprot ID
0  MAKEIVKELLPLIRVYKDGSVERLLSSENVAASPEDPQTGVSSKDI...      Q5NUF3
1  MKTRKGIILAGGSGTRLYPVTMAVSKQLLPIYDKPMIYYPLSTLML...      Q9F7K6
2  MVLCPVIGKLLHKRVVLASASPRRQEILSNAGLRFEVVPSKFKEKL...      O95671
3  MSPQTETKASVGFKAGVKDYKLTYYTPEYETQDTDILAAFRVSPQP...  A0A1C3HPN5
4  MTPLLELKDIRRSYPAGDEQVEVLKGISLDIYAGEMVAIVGASGSG...      P75831

In [11]:
print("Number of different amino acid sequences in the dataset: %s" % len(set(df_kcat["Sequence"])))

Number of different amino acid sequences in the dataset: 3948

## 3. Mapping all substrates and products to InChI strings: 
#### Most of the metabolites in our dataset have InChI strings as identifiers and some of them have KEGG Compound IDs. We are trying to map the KEGG Compound IDs to InChI strings as well:

#### (a) Getting an InChI string for all metabolites

In [12]:
kegg_con = KEGG()
chebi_con = ChEBI()

met_IDs = []

for ind in df_kcat.index:
    sub_IDs, pro_IDs = df_kcat["substrate_IDs"][ind], df_kcat["product_IDs"][ind]
    if sub_IDs != "" and pro_IDs != "" :
        try:
            met_IDs = met_IDs +sub_IDs + pro_IDs
        except TypeError:
            pass
        
df_metabolites = pd.DataFrame(data = {"metabolite ID": list(set(met_IDs))})
df_metabolites = df_metabolites.loc[df_metabolites["metabolite ID"] != ""]
df_metabolites["InChI"] = np.nan

for ind in df_metabolites.index:
    met = df_metabolites["metabolite ID"][ind]
    if met[0:5] == "InChI":
        df_metabolites["InChI"][ind] = met
    else:
        try:
            kegg_entry = kegg_con.parse(kegg_con.get(met))
            chebi_entry = chebi_con.getCompleteEntity('CHEBI:' + kegg_entry['DBLINKS']['ChEBI'])
            df_metabolites["InChI"][ind] = chebi_entry.inchi
        except:
            pass
        
df_metabolites.head()

,metabolite ID,InChI
1,C03586,"InChI=1S/C6H6O4/c7-5(8)3-4-1-2-6(9)10-4/h1H,2-..."
2,InChI=1S/C27H44N7O17P3S/c1-4-5-6-7-18(36)55-11...,InChI=1S/C27H44N7O17P3S/c1-4-5-6-7-18(36)55-11...
3,InChI=1S/C31H54N7O17P3S/c1-4-5-6-7-8-9-10-11-2...,InChI=1S/C31H54N7O17P3S/c1-4-5-6-7-8-9-10-11-2...
4,InChI=1S/C10H19NO4/c1-2-3-4-5-9(13)11-8(6-7-12...,InChI=1S/C10H19NO4/c1-2-3-4-5-9(13)11-8(6-7-12...
5,InChI=1S/C15H24/c1-11(2)13-8-9-14-7-5-6-12(3)1...,InChI=1S/C15H24/c1-11(2)13-8-9-14-7-5-6-12(3)1...

In [13]:
for ind in df_metabolites.index:
    if pd.isnull(df_metabolites["InChI"][ind]):
        try:
            mol = Chem.MolFromMolFile(join("..", "..", "data", "metabolite_data",
                                           "mol-files", df_metabolites["metabolite ID"][ind] + '.mol'))
            df_metabolites["InChI"][ind] = Chem.MolToInchi(mol)
        except:
            pass
        
df_metabolites = df_metabolites.loc[~pd.isnull(df_metabolites["InChI"])]

#### (b) Mapping the InChI strings for all substrates and all products to the kcat values:

In [14]:
df_kcat["substrate_InChI_set"] = ""
df_kcat["product_InChI_set"] = ""

for ind in df_kcat.index:
    sub_IDs, pro_IDs = df_kcat["substrate_IDs"][ind], df_kcat["product_IDs"][ind]
    
    try:
        sub_inchis = []
        pro_inchis = []
        for sub in sub_IDs:
            inchi = list(df_metabolites["InChI"].loc[df_metabolites["metabolite ID"] == sub])[0]
            sub_inchis.append(inchi)
        for pro in pro_IDs:
            inchi = list(df_metabolites["InChI"].loc[df_metabolites["metabolite ID"] == pro])[0]
            pro_inchis.append(inchi)

        df_kcat["substrate_InChI_set"][ind] = set(sub_inchis)
        df_kcat["product_InChI_set"][ind] = set(pro_inchis)
    except:
        pass

## 4. Assigning  IDs to every unique sequence and to every unique reaction in the dataset:

#### (a) Creating DataFrames for all sequences and for all reactions:

In [15]:
df_sequences = pd.DataFrame(data = {"Sequence" : list(set(df_kcat["Sequence"]))})
df_sequences = df_sequences.loc[~pd.isnull(df_sequences["Sequence"])]
df_sequences.reset_index(inplace = True, drop = True)
df_sequences["Sequence ID"] = ["Sequence_" + str(ind) for ind in df_sequences.index]

df_sequences

                                               Sequence    Sequence ID
0     MNTVRSEKDSMGAIDVPADKLWGAQTQRSLEHFRISTEKMPTSLIH...     Sequence_0
1     MTQRIAYVTGGMGGIGTAICQRLAKDGFRVVAGCGPNSPRREKWLE...     Sequence_1
2     MPVDKNLRDLEPGIHTDLEGRLTYGGYLRLDQLLSAQQPLSEPAHH...     Sequence_2
3     MAKFVIRPATAADCSDILRLIKELAKYEYMEEQVILTEKDLLEDGF...     Sequence_3
4     MSSGIHVALVTGGNKGIGLAIVRDLCRLFSGDVVLTARDVTRGQAA...     Sequence_4
...                                                 ...            ...
3942  MSQVNTSQGPVAQGRQRRLSSLSEFNDPFSNAEVYYGPPTDPRKQK...  Sequence_3942
3943  METNHITSLHHITICTGTAQGDIDFFVKVMGQRFVKRTLFYDGSIP...  Sequence_3943
3944  MSHYDTNLDKNEANYVPLSPLTFLERTKDIYPNYEALVYESRSYTW...  Sequence_3944
3945  MNPQDLKTIVSSGLLSFPVTDFDEQGDFRPKTYIERLEWLAPYGAT...  Sequence_3945
3946  MEVRARAPGKIILAGEHAVVHGSTAVAAAIDLYTYISLHFPTPAEN...  Sequence_3946

[3947 rows x 2 columns]

In [16]:
df_reactions = pd.DataFrame({"substrates": df_kcat["substrate_InChI_set"],
                            "products" : df_kcat["product_InChI_set"]})
df_reactions = df_reactions.loc[df_reactions["substrates"] != set([])]
df_reactions = df_reactions.loc[df_reactions["products"] != set([])]


droplist = []
for ind in df_reactions.index:
    sub_IDs, pro_IDs = df_reactions["substrates"][ind], df_reactions["products"][ind]
    help_df = df_reactions.loc[df_reactions["substrates"] == sub_IDs].loc[df_reactions["products"] == pro_IDs]
    if len(help_df):
        for ind in list(help_df.index)[1:]:
            droplist.append(ind)
            
df_reactions.drop(list(set(droplist)), inplace = True)
df_reactions.reset_index(inplace = True, drop =True)

df_reactions["Reaction ID"] = ["Reaction_" + str(ind) for ind in df_reactions.index]
df_reactions

,substrates,products,Reaction ID
0,{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,{InChI=1S/C8H6O3/c9-7(8(10)11)6-4-2-1-3-5-6/h1...,Reaction_0
1,"{InChI=1S/O2/c1-2, InChI=1S/C17H23N4O9P/c1-7-3...",{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,Reaction_1
2,{InChI=1S/C21H28N7O17P3/c22-17-12-19(25-7-24-1...,{InChI=1S/C19H21N7O6/c20-19-25-15-14(17(30)26-...,Reaction_2
3,"{InChI=1S/H2O/h1H2, InChI=1S/C16H28N2O11/c1-5(...",{InChI=1S/C8H15NO6/c1-3(11)9-5-7(13)6(12)4(2-1...,Reaction_3
4,"{InChI=1S/C3H7O7P/c4-1-2(3(5)6)10-11(7,8)9/h2,...","{InChI=1S/H2O/h1H2, InChI=1S/C3H5O6P/c1-2(3(4)...",Reaction_4
...,...,...,...
4434,{InChI=1S/C34H58N7O21P3S/c1-18(58-33-21(43)13-...,"{InChI=1S/H2O2/c1-2/h1-2H, InChI=1S/C34H56N7O2...",Reaction_4434
4435,{InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15...,{InChI=1S/C10H15N5O10P2/c11-8-5-9(13-2-12-8)15...,Reaction_4435
4436,{InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15...,{InChI=1S/C10H15N5O10P2/c11-8-5-9(13-2-12-8)15...,Reaction_4436
4437,"{InChI=1S/O2/c1-2, InChI=1S/C16H12O4/c1-19-12-...",{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,Reaction_4437
4438,"{InChI=1S/C23H37FN7O17P3S/c1-23(2,18(35)21(36)...","{InChI=1S/C21H36N7O16P3S/c1-21(2,16(31)19(32)2...",Reaction_4438

#### (b) Calcuating the sum of the molecular weights of all substrates and of all products:

In [17]:
df_reactions["MW_frac"] = np.nan

for ind in df_reactions.index:
    substrates = list(df_reactions["substrates"][ind])
    products = list(df_reactions["products"][ind])
    
    mw_subs = mw_mets(metabolites = substrates)
    mw_pros = mw_mets(metabolites = products)
    if mw_pros != 0:
        df_reactions["MW_frac"][ind] = mw_subs/mw_pros
    else:
        df_reactions["MW_frac"][ind] = np.inf
        
df_reactions

,substrates,products,Reaction ID,MW_frac
0,{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,{InChI=1S/C8H6O3/c9-7(8(10)11)6-4-2-1-3-5-6/h1...,Reaction_0,1.000000
1,"{InChI=1S/O2/c1-2, InChI=1S/C17H23N4O9P/c1-7-3...",{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,Reaction_1,1.000000
2,{InChI=1S/C21H28N7O17P3/c22-17-12-19(25-7-24-1...,{InChI=1S/C19H21N7O6/c20-19-25-15-14(17(30)26-...,Reaction_2,1.000000
3,"{InChI=1S/H2O/h1H2, InChI=1S/C16H28N2O11/c1-5(...",{InChI=1S/C8H15NO6/c1-3(11)9-5-7(13)6(12)4(2-1...,Reaction_3,2.000000
4,"{InChI=1S/C3H7O7P/c4-1-2(3(5)6)10-11(7,8)9/h2,...","{InChI=1S/H2O/h1H2, InChI=1S/C3H5O6P/c1-2(3(4)...",Reaction_4,1.000000
...,...,...,...,...
4434,{InChI=1S/C34H58N7O21P3S/c1-18(58-33-21(43)13-...,"{InChI=1S/H2O2/c1-2/h1-2H, InChI=1S/C34H56N7O2...",Reaction_4434,1.000000
4435,{InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15...,{InChI=1S/C10H15N5O10P2/c11-8-5-9(13-2-12-8)15...,Reaction_4435,1.000000
4436,{InChI=1S/C10H16N5O13P3/c11-8-5-9(13-2-12-8)15...,{InChI=1S/C10H15N5O10P2/c11-8-5-9(13-2-12-8)15...,Reaction_4436,1.000000
4437,"{InChI=1S/O2/c1-2, InChI=1S/C16H12O4/c1-19-12-...",{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,Reaction_4437,0.998668
4438,"{InChI=1S/C23H37FN7O17P3S/c1-23(2,18(35)21(36)...","{InChI=1S/C21H36N7O16P3S/c1-21(2,16(31)19(32)2...",Reaction_4438,1.000000

#### (c) Mapping Sequence and Reaction IDs to kcat_df:

In [18]:
df_kcat = df_kcat.merge(df_sequences, on = "Sequence", how = "left")

In [19]:
df_reactions.rename(columns = {"substrates" : "substrate_InChI_set",
                              "products" : "product_InChI_set"}, inplace = True)

df_kcat["Reaction ID"] = np.nan
df_kcat["MW_frac"] = np.nan
for ind in df_kcat.index:
    sub_set, pro_set = df_kcat["substrate_InChI_set"][ind], df_kcat["product_InChI_set"][ind]
    
    help_df = df_reactions.loc[df_reactions["substrate_InChI_set"] == sub_set].loc[df_reactions["product_InChI_set"] == pro_set]
    if len(help_df) == 1:
        df_kcat["Reaction ID"][ind] = list(help_df["Reaction ID"])[0]
        df_kcat["MW_frac"][ind] = list(help_df["MW_frac"])[0]
df_kcat.head(2)

,Uniprot ID,kcat,Substrates,Products,PMID,substrate_IDs,product_IDs,checked,#UIDs,complete,...,from Sabio,EC,ORGANISM,BRENDA reaction ID,Sequence,substrate_InChI_set,product_InChI_set,Sequence ID,Reaction ID,MW_frac
0,P20932,2.8,(S)-Mandelate;Riboflavin-5-phosphate,Reduced FMN;alpha-Oxo-benzeneacetic acid,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,...,1,NaN,NaN,NaN,MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,{InChI=1S/C8H6O3/c9-7(8(10)11)6-4-2-1-3-5-6/h1...,Sequence_2804,Reaction_0,1.0
1,P20932,0.05,(S)-Mandelate;Riboflavin-5-phosphate,Reduced FMN;alpha-Oxo-benzeneacetic acid,15311930,"[C01984, C00061]","[C02137, C01847]",False,1,True,...,1,NaN,NaN,NaN,MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,{InChI=1S/C8H6O3/c9-7(8(10)11)6-4-2-1-3-5-6/h1...,Sequence_2804,Reaction_0,1.0

#### (d) Creating a new DataFrame with one entry for every unique sequence-reaction pair:

##### (d)(i) Creating the DataFrame:

In [20]:
df_kcat_new = pd.DataFrame(data = {"Reaction ID" : df_kcat["Reaction ID"],
                                  "Sequence ID" : df_kcat["Sequence ID"]})
df_kcat_new = df_kcat_new.loc[~pd.isnull(df_kcat_new["Reaction ID"])].loc[~pd.isnull(df_kcat_new["Sequence ID"])]
df_kcat_new.drop_duplicates(inplace = True)
df_kcat_new.reset_index(inplace = True, drop = True)


df_kcat_new["kcat_values"], df_kcat_new["Uniprot IDs"] = "", ""
df_kcat_new["from_BRENDA"], df_kcat_new["from_Sabio"], df_kcat_new["from_Uniprot"] = "", "", ""
df_kcat_new["checked"] = ""

for ind in df_kcat_new.index:
    RID, SID = df_kcat_new["Reaction ID"][ind], df_kcat_new["Sequence ID"][ind]
    help_df = df_kcat.loc[df_kcat["Reaction ID"] == RID].loc[df_kcat["Sequence ID"] == SID]
    
    df_kcat_new["kcat_values"][ind] = list(help_df["kcat"])
    df_kcat_new["Uniprot IDs"][ind] = list(help_df["Uniprot ID"])
    df_kcat_new["from_BRENDA"][ind] = list(help_df["from BRENDA"])
    df_kcat_new["from_Sabio"][ind] = list(help_df["from Sabio"])
    df_kcat_new["from_Uniprot"][ind] = list(help_df["from Uniprot"])
    df_kcat_new["checked"][ind] = list(help_df["checked"])
df_kcat_new

,Reaction ID,Sequence ID,kcat_values,Uniprot IDs,from_BRENDA,from_Sabio,from_Uniprot,checked
0,Reaction_0,Sequence_2804,"[2.8, 0.05, 0.11, 205.0, 2.3, 134.0, 360.0]","[P20932, P20932, P20932, P20932, P20932, P2093...","[0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0]","[False, False, False, False, False, False, False]"
1,Reaction_1,Sequence_2804,"[1.2, 3.4, 0.61, 0.07]","[P20932, P20932, P20932, P20932]","[0, 0, 0, 0]","[1, 1, 1, 1]","[0, 0, 0, 0]","[False, False, False, False]"
2,Reaction_2,Sequence_654,"[6.18, 14.5, 11.58, 13.12, 11.9, 13.98, 14.08,...","[P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[False, False, False, False, False, False, Fal..."
3,Reaction_4,Sequence_3757,"[57.1, 19.6, 5.96, 13.6, 26.4, 14.0, 41.1, 11....","[P25704, P25704, P25704, P25704, P25704, P2570...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[False, False, False, False, False, False, Fal..."
4,Reaction_5,Sequence_1849,"[2.98, 0.87]","[P04746, P04746]","[0, 0]","[1, 1]","[0, 0]","[False, False]"
...,...,...,...,...,...,...,...,...
7491,Reaction_4437,Sequence_1394,[0.015],[Q6WNR0],[0],[0],[1],[False]
7492,Reaction_3888,Sequence_577,[0.23],[P90994],[0],[0],[1],[False]
7493,Reaction_3888,Sequence_815,[1.0],[O16228],[0],[0],[1],[False]
7494,Reaction_4408,Sequence_1230,"[5.3, 149.0]","[O06644, O06644]","[0, 0]","[0, 0]","[1, 1]","[False, False]"
7495,Reaction_4438,Sequence_1241,"[390.0, 0.044]","[Q1EMV2, Q1EMV2]","[0, 0]","[0, 0]","[1, 1]","[False, False]"

##### (d)(ii): Adding sequence, substrates, and products to all data points

In [21]:
df_kcat_new["Sequence"], df_kcat_new["substrates"], df_kcat_new["products"], df_kcat_new["MW_frac"] = "", "", "", ""

for ind in df_kcat_new.index:
    RID, SID = df_kcat_new["Reaction ID"][ind], df_kcat_new["Sequence ID"][ind]
    help_df = df_reactions.loc[df_reactions["Reaction ID"] == RID]
    df_kcat_new["substrates"][ind], df_kcat_new["products"][ind] = list(help_df["substrate_InChI_set"])[0], list(help_df["product_InChI_set"])[0]
    df_kcat_new["MW_frac"][ind] = list(help_df["MW_frac"])[0]
    
    help_df = df_sequences.loc[df_sequences["Sequence ID"] == SID]
    df_kcat_new["Sequence"][ind] = list(help_df["Sequence"])[0]

##### (d)(iii) Calculating the maximal kcat value for every sequence and for every reaction:

In [22]:
df_all_kcat = pd.read_pickle(join("..", "..", "data", "kcat_data", "kcat_data_merged.pkl"))
df_all_kcat.head()

df_kcat_new["max_kcat_for_UID"]  = ""
df_kcat_new["max_kcat_for_RID"]  = ""

for ind in df_kcat_new.index:
    max_kcat = - np.inf
    UIDs = list(set(df_kcat_new["Uniprot IDs"][ind]))
    for UID in UIDs:
        all_kcat = list(df_all_kcat["kcat"].loc[df_all_kcat["Uniprot ID"] == UID])
        all_kcat = [float(kcat) for kcat in all_kcat]
        max_kcat = max(max_kcat, max(all_kcat))
    df_kcat_new["max_kcat_for_UID"][ind] = max_kcat


for ind in df_kcat_new.index:
    RID = df_kcat_new["Reaction ID"][ind]
    
    help_df = df_kcat_new.loc[df_kcat_new["Reaction ID"] == RID]
    all_kcat = []
    for ind2 in help_df.index:
        all_kcat = all_kcat + list(help_df["kcat_values"][ind2])
    all_kcat = [float(kcat) for kcat in all_kcat]
    max_kcat = max(all_kcat)
    df_kcat_new["max_kcat_for_RID"][ind] = max_kcat
df_kcat_new.head()

,Reaction ID,Sequence ID,kcat_values,Uniprot IDs,from_BRENDA,from_Sabio,from_Uniprot,checked,Sequence,substrates,products,MW_frac,max_kcat_for_UID,max_kcat_for_RID
0,Reaction_0,Sequence_2804,"[2.8, 0.05, 0.11, 205.0, 2.3, 134.0, 360.0]","[P20932, P20932, P20932, P20932, P20932, P2093...","[0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0]","[False, False, False, False, False, False, False]",MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,{InChI=1S/C8H6O3/c9-7(8(10)11)6-4-2-1-3-5-6/h1...,1.0,360.0,360.0
1,Reaction_1,Sequence_2804,"[1.2, 3.4, 0.61, 0.07]","[P20932, P20932, P20932, P20932]","[0, 0, 0, 0]","[1, 1, 1, 1]","[0, 0, 0, 0]","[False, False, False, False]",MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,"{InChI=1S/O2/c1-2, InChI=1S/C17H23N4O9P/c1-7-3...",{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,1.0,360.0,3.4
2,Reaction_2,Sequence_654,"[6.18, 14.5, 11.58, 13.12, 11.9, 13.98, 14.08,...","[P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[False, False, False, False, False, False, Fal...",MISLIAALAVDRVIGMENAMPWNLPADLAWFKRNTLNKPVIMGRHT...,{InChI=1S/C21H28N7O17P3/c22-17-12-19(25-7-24-1...,{InChI=1S/C19H21N7O6/c20-19-25-15-14(17(30)26-...,1.0,29.0,29.0
3,Reaction_4,Sequence_3757,"[57.1, 19.6, 5.96, 13.6, 26.4, 14.0, 41.1, 11....","[P25704, P25704, P25704, P25704, P25704, P2570...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[False, False, False, False, False, False, Fal...",MAMQKIFAREILDSRGNPTVEVDLHTAKGRFRAAVPSGASTGIYEA...,"{InChI=1S/C3H7O7P/c4-1-2(3(5)6)10-11(7,8)9/h2,...","{InChI=1S/H2O/h1H2, InChI=1S/C3H5O6P/c1-2(3(4)...",1.0,57.1,84.0
4,Reaction_5,Sequence_1849,"[2.98, 0.87]","[P04746, P04746]","[0, 0]","[1, 1]","[0, 0]","[False, False]",MKFFLLLFTIGFCWAQYSPNTQQGRTSIVHLFEWRWVDIALECERY...,{InChI=1S/C18H32O16/c19-1-4-7(22)8(23)12(27)17...,{InChI=1S/C12H22O11/c13-1-3-5(15)6(16)9(19)12(...,1.0,2.98,2.98

##### (d)(iv) Calculating the maximal kcat value for every EC number in the dataset:

In [23]:
df_kcat = df_kcat_new.copy()

#Using the txt file and the Uniprot mapping service to get an EC number for every enzyme:
df_EC = pd.read_csv(join("..", "..", "data", "enzyme_data", "Uniprot_results_EC.tab"), sep = "\t")
df_EC.head()

        Entry   EC number  Uniprot ID
0      P05091     1.2.1.3      P05091
1      Q5L1B7    1.7.1.13      Q5L1B7
2  A0A1C3HPT0    4.1.1.39  A0A1C3HPT0
3      D0RZL3  1.14.12.10      D0RZL3
4      D0RZL4  1.14.12.10      D0RZL4

In [24]:
df_kcat.head()
df_kcat["ECs"] = ""
for ind in df_kcat.index:
    UID = df_kcat["Uniprot IDs"][ind][0]
    try:
        df_kcat["ECs"][ind] = list(df_EC["EC number"].loc[df_EC["Uniprot ID"] == UID])[0].split("; ")
    except:
        df_kcat["ECs"][ind] = []
df_kcat.head(2)

,Reaction ID,Sequence ID,kcat_values,Uniprot IDs,from_BRENDA,from_Sabio,from_Uniprot,checked,Sequence,substrates,products,MW_frac,max_kcat_for_UID,max_kcat_for_RID,ECs
0,Reaction_0,Sequence_2804,"[2.8, 0.05, 0.11, 205.0, 2.3, 134.0, 360.0]","[P20932, P20932, P20932, P20932, P20932, P2093...","[0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0]","[False, False, False, False, False, False, False]",MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,{InChI=1S/C8H6O3/c9-7(8(10)11)6-4-2-1-3-5-6/h1...,1.0,360.0,360.0,[1.1.99.31]
1,Reaction_1,Sequence_2804,"[1.2, 3.4, 0.61, 0.07]","[P20932, P20932, P20932, P20932]","[0, 0, 0, 0]","[1, 1, 1, 1]","[0, 0, 0, 0]","[False, False, False, False]",MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,"{InChI=1S/O2/c1-2, InChI=1S/C17H23N4O9P/c1-7-3...",{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,1.0,360.0,3.4,[1.1.99.31]

In [25]:
all_ECs = []
for ind in df_kcat.index:
    all_ECs = all_ECs + df_kcat["ECs"][ind]

all_ECs = list(set(all_ECs))

df_EC_kcat = pd.DataFrame({"EC" : all_ECs})
df_EC_kcat["max_kcat"] = np.nan

for ind in df_EC_kcat.index:
    try:
        kcat_max = get_max_for_EC_number(EC = df_EC_kcat["EC"][ind])
        df_EC_kcat["max_kcat"][ind] = kcat_max
        print(ind, kcat_max)
    except:
        pass
    
df_EC_kcat.to_pickle(join("..", "..", "data", "enzyme_data", "df_EC_max_kcat.pkl"))

0 nan
1 0.81
2 nan
3 2.0
4 3226.0
5 667.0
6 730.0
7 358.4
8 1.43
9 nan
10 3.5
11 43.5
12 1.12
13 221.0
14 122.0
15 295000.0
16 2135.0
17 32.0
18 45.0
19 3.72
20 2.69
21 4.1
22 9700.0
23 0.518
24 94.8
25 116.7
26 698.0
27 5.0
28 0.66
29 15.0
30 44.0
31 176.0
32 1600.0
33 258.3
34 5096.0
35 450.0
36 nan
37 nan
38 4.4
39 nan
40 2.82
41 nan
42 nan
43 1478.0
44 181.0
45 361.0
46 100.0
47 1230.0
48 55.0
49 2660.0
50 131.0
51 10.5
52 64.5
53 167.0
54 nan
55 22.0
56 4.83
57 3.1
58 1.2
59 nan
60 nan
61 778.5
62 0.87
63 2610.0
64 24.0
65 0.87
66 410.0
67 34.28
68 3330.0
69 1.73
70 nan
71 22000.0
72 246.0
73 4.1
74 9368.0
75 0.056
76 29.0
77 2644.0
78 nan
79 63.4
80 7.33
81 26.0
82 0.817
83 7.7
84 3.4
85 0.88
86 38.4
87 3850.0
88 118.0
89 nan
90 nan
91 nan
92 nan
93 75.8
94 nan
95 3.3
96 2201.64
97 8.82
98 5.9
99 0.142
100 75.0
101 0.888
102 nan
103 0.43
104 3350.0
105 124.5
106 0.8
107 nan
108 nan
109 9400.0
110 0.071
111 150.0
112 270.0
113 149.0
114 4.2
115 0.11
116 nan
117 330.0
118 432.0
119 1.0
120 390.0
121 36.5
122 846.0
123 0.233
124 10.8
125 44.0
126 95.0
127 288000.0
128 78.3
129 9.67
130 15000.0
131 1492.0
132 870.0
133 70.9
134 1012.0
135 193.0
136 1.4
137 20.0
138 nan
139 nan
140 7.5
141 217.0
142 380.0
143 77.0
144 0.01
145 761.0
146 238.0
147 119.0
148 58.67
149 4000.0
150 20.6
151 13.0
152 60.0
153 14000.0
154 210.0
155 6400.0
156 24.0
157 0.00033
158 nan
159 0.003
160 0.605
161 121600.0
162 0.183
163 310.0
164 0.9
165 14.4
166 0.0012
167 49.6
168 0.14
169 339000.0
170 nan
171 1071.0
172 1.85
173 7.3
174 72.0
175 nan
176 5.7
177 17250.0
178 12.7
179 3150.0
180 597.0
181 250.0
182 340.0
183 41.0
184 17.0
185 6840.0
186 72.0
187 756000.0
188 2200.0
189 34.4
190 2.7
191 62.5
192 93.0
193 51.9
194 124.0
195 0.736
196 23.1
197 nan
198 14.07
199 11.66
200 13.5
201 12.9
202 23.0
203 2.09
204 0.076
205 65.2
206 200000.0
207 29.0
208 22.0
209 2.12
210 2100.0
211 0.1
212 1.7
213 2.61
214 960000.0
215 1084.6
216 nan
217 0.016
218 nan
219 11.8
220 10.5
221 24.83
222 1188.0
223 2.4
224 500.0
225 3.15
226 nan
227 660.0
228 1.4
229 2100.0
230 0.186
231 1500.0
232 69.0
233 447.0
234 0.76
235 290.0
236 0.4
237 26500.0
238 18.0
239 0.25
240 230.0
241 15000.0
242 22.9
243 0.048
244 654.0
245 13.2
246 0.46
247 0.032
248 29.0
249 785.0
250 24.5
251 78300.0
252 0.015
253 9.3
254 0.39
255 609.0
256 13.5
257 1560.0
258 261.0
259 2.17
260 69.9
261 nan
262 6249.0
263 1700.0
264 1.09
265 0.0014
266 375.8
267 178.0
268 nan
269 nan
270 115.0
271 nan
272 5.7
273 114.0
274 268.0
275 15.24
276 613.0
277 34500.0
278 0.253
279 nan
280 0.55
281 nan
282 24.0
283 70.29
284 0.38
285 1770.0
286 0.24
287 48.0
288 0.23
289 62300.0
290 250.0
291 175.0
292 49.0
293 0.125
294 78.4
295 0.26
296 0.4
297 63570.0
298 0.102
299 47400.0
300 0.41
301 50.0
302 0.275
303 11.5
304 52.0
305 nan
306 nan
307 900.0
308 2.6
309 0.69
310 325.0
311 1904.0
312 8.7
313 1.98
314 nan
315 361.0
316 208.0
317 1400.0
318 23.8
319 0.026
320 0.668
321 0.83
322 88.0
323 240.0
324 33.0
325 7900.0
326 845.0
327 16.0
328 107.7
329 nan
330 nan
331 3.8
332 15.4
333 298.0
334 220.0
335 1349.0
336 3.6
337 125.2
338 4.9
339 1840.0
340 79.2
341 26.7
342 57500000.0
343 15.0
344 4.7
345 280.0
346 11.0
347 158300.0
348 27.0
349 0.01
350 0.063
351 45500.0
352 444.0
353 9320.0
354 161.8
355 136.0
356 255.0
357 8000.0
358 nan
359 1.2
360 218.0
361 90.0
362 0.528
363 0.0433
364 0.14
365 1720.0
366 1.0
367 5.14
368 20.7
369 70.0
370 41.7
371 96.8
372 120000.0
373 nan
374 145.0
375 31.4
376 383.0
377 nan
378 124.0
379 1.55
380 15.0
381 142.0
382 337.0
383 0.148
384 nan
385 26.3
386 120.0
387 1070.0
388 248.0
389 4.4
390 34.26
391 1100.0
392 360.0
393 4.853
394 146.0
395 4560.0
396 91.13
397 0.77
398 0.7
399 0.4
400 6.5
401 nan
402 40.0
403 nan
404 61.0
405 650.0
406 907.0
407 0.028
408 0.463
409 0.263
410 nan
411 nan
412 0.35
413 nan
414 740.0
415 5667.0
416 3.0
417 41.7
418 nan
419 nan
420 417.15
421 nan
422 576.0
423 8.9
424 nan
425 1259.0
426 48.0
427 1500.0
428 105.0
429 0.1
430 nan
431 13.3
432 19.56
433 5950.0
434 3.6
435 412000.0
436 1.2
437 1.8
438 16.68
439 150.0
440 32.0
441 17.7
442 nan
443 1.04
444 3160.0
445 930.0
446 4.9
447 0.917
448 nan
449 0.282
450 16.0
451 nan
452 nan
453 0.098
454 21.5
455 3000.0
456 31.0
457 4945.0
458 0.09
459 1540.0
460 28300.0
461 4830.0
462 1960.0
463 nan
464 7504.0
465 551.7
466 151.0
467 4300.0
468 678.0
469 1827.0
470 nan
471 818.0
472 275.0
473 17.6
474 2.5
475 116.7
476 44.2
477 0.6
478 571.0
479 0.023
480 18.9
481 6.5
482 115.8
483 4.46
484 5.4
485 0.63
486 36.0
487 0.4
488 0.18
489 2.8
490 nan
491 195.0
492 35.7
493 21.0
494 4170.0
495 23.0
496 3.0
497 35.0
498 748.0
499 nan
500 10.0
501 280.0
502 442.0
503 10.2
504 48900.0
505 19.8
506 nan
507 51.7
508 39.0
509 nan
510 101.0
511 0.19
512 41.0
513 195.0
514 1.61
515 6.83
516 nan
517 4.51
518 0.72
519 266.0
520 10.93
521 nan
522 6.08
523 nan
524 260.0
525 18.0
526 380.0
527 nan
528 329.0
529 77.0
530 770.0
531 nan
532 88.0
533 37.33
534 7.0
535 0.078
536 1800.0
537 158.4
538 nan
539 64.0
540 11.0
541 2880.0
542 240.0
543 0.6
544 22.0
545 412.0
546 338.0
547 55.0
548 16.5
549 490.0
550 652.5
551 200.0
552 1900.0
553 nan
554 288100.0
555 35.6
556 231.0
557 8.1
558 7220.0
559 7.0
560 4.4
561 nan
562 1516.0
563 0.038
564 150.9
565 0.99
566 9570.0
567 8.7
568 2962.0
569 46.3
570 nan
571 1.2
572 45.1
573 950.0
574 0.5
575 41.0
576 4.2
577 5.9
578 0.008
579 139.0
580 258.0
581 25.5
582 0.008
583 6780.0
584 2030.0
585 5.83
586 nan
587 22.7
588 21.7
589 398.0
590 4300.0
591 551.0
592 240.0
593 0.038
594 6000.0
595 1390.0
596 nan
597 4410.0
598 nan
599 0.1243
600 7.4
601 10000.0
602 nan
603 79.0
604 128.0
605 6.4
606 8.6
607 0.072
608 0.00025
609 0.023
610 5.8
611 16.3
612 0.00186
613 0.095
614 0.096
615 20.0
616 209.0
617 17.0
618 0.84
619 18.0
620 560.0
621 nan
622 nan
623 0.0053
624 16.7
625 6.8
626 0.117
627 550000.0
628 nan
629 0.1
630 5.3
631 329.6
632 nan
633 0.015
634 671000.0
635 33.3
636 nan
637 20.0
638 33.67
639 96.9
640 987.0
641 167.0
642 1506.0
643 299.0
644 9.9
645 0.58
646 2.5
647 151.0
648 7216.0
649 54.7
650 34.0
651 nan
652 14.0
653 nan
654 161.0
655 40.7
656 833.0
657 nan
658 11.6
659 63800.0
660 500.0
661 295.0
662 nan
663 16.3
664 256.0
665 156.0
666 19.0
667 195.0
668 nan
669 660.0
670 11100.0
671 5700.0
672 1.73
673 nan
674 1.23
675 2783.0
676 92.5
677 7.2
678 22.0
679 49.0
680 nan
681 126.47
682 283.0
683 0.022
684 nan
685 0.09
686 122.0
687 16.0
688 9.38
689 73.0
690 60.47
691 7600.0
692 0.0067
693 253.0
694 16.0
695 6.4
696 330.0
697 nan
698 340.0
699 nan
700 1.76
701 nan
702 198.0
703 35.7
704 0.92
705 nan
706 1.7
707 68.0
708 32100.0
709 0.022
710 1.4
711 nan
712 0.094
713 0.105
714 40.0
715 533.0
716 70000.0
717 nan
718 2.2
719 8.0
720 14.15
721 540.0
722 7.26
723 nan
724 20.0
725 2.9
726 39.6
727 20.1
728 20.0
729 21.9
730 510.0
731 2930.0
732 2.5
733 3033.0
734 2.9
735 nan
736 1975.0
737 nan
738 40850.0
739 nan
740 nan
741 116.9
742 nan
743 16.1
744 467.0
745 47.9
746 239.0
747 2.4
748 nan
749 419.0
750 6.16
751 19.0
752 0.8
753 5.6
754 63330.0
755 11.0
756 23.69
757 105.0
758 0.0018
759 3.63
760 747.0
761 187.5
762 48.6
763 35.0
764 15.5
765 3410.0
766 65.0
767 6.5
768 52.8
769 225.0
770 7150.0
771 0.86
772 221.0
773 8.4
774 11.2
775 37.7
776 95.0
777 39.0
778 4.4
779 4.8
780 8.61
781 0.015
782 957.0
783 9.1
784 2.88
785 35.0
786 nan
787 4000.0
788 47.4
789 10700.0
790 84.0
791 0.0959
792 21.6
793 nan
794 856.0
795 29.71
796 nan
797 2000.0
798 0.00833
799 nan
800 0.52
801 217.0
802 2.1
803 4170.0
804 361.0
805 1.7
806 7.5
807 nan
808 nan
809 3.8
810 2000.0
811 nan
812 14.0
813 2700000.0
814 1009.0
815 nan
816 26.6
817 312.0
818 48.5
819 49.0
820 3534.0
821 1492.0
822 10.0
823 nan
824 78.0
825 0.05
826 29000.0
827 53.0
828 11.6
829 0.1
830 64.0
831 27.9
832 nan
833 13.0
834 2.5
835 7.22
836 nan
837 17.5
838 nan
839 0.367
840 336.0
841 180.5
842 440000.0
843 17.9
844 2502.0
845 185.0
846 18.5
847 nan
848 47.81
849 1214290.0
850 166.7
851 258.0
852 22.3
853 28.3
854 nan
855 2.69
856 18.8
857 1000.0
858 0.18
859 0.047
860 220.0
861 171000.0
862 615.0
863 20.0
864 2.1
865 0.0165
866 6.27
867 0.12
868 559.0
869 47.0
870 292.0
871 2625.0
872 0.89
873 41.0
874 133.0
875 4753.0
876 5.5
877 227.0
878 4.0
879 4.8

880 60.8
881 nan
882 280.0
883 40000.0
884 1550.0
885 55.11
886 792.0
887 1340.0
888 0.913
889 1910.0
890 16.5
891 10.2
892 0.5
893 122.0
894 1.23
895 60.5
896 473.0
897 0.026
898 18.1
899 2170.0
900 90.0
901 81.0
902 72000.0
903 371.0
904 1660.0
905 5492.88
906 128.0
907 35.6
908 0.113
909 0.55
910 3657.0
911 2310.0
912 0.04
913 160.0
914 43.5
915 7300000.0
916 2871.0
917 275.0
918 54.1
919 1250.0
920 11.0
921 nan
922 2343.0
923 2085.0
924 212.0
925 136.3
926 88.0
927 1.0
928 6.08
929 171.0
930 480.0
931 16.0
932 96.0
933 16.7
934 2.5
935 47.0
936 642.9
937 2083.0
938 nan
939 nan
940 0.028
941 0.462
942 4.6
943 nan
944 1462.0
945 570000.0
946 22.0
947 1.6
948 5.9
949 11.1
950 2.0
951 208.3
952 145.0
953 10.2
954 0.31
955 125.2
956 11.4
957 0.036
958 8.1
959 160.0
960 63.0
961 9.6
962 4080.0
963 250.0
964 1612.0
965 0.49
966 nan
967 nan
968 39.1
969 313.0
970 487.0
971 nan
972 6.3
973 243.0
974 2860.0
975 1150.0
976 1012.0
977 2.7
978 410000.0
979 7000.0
980 140.5
981 2.0
982 0.11
983 483.3
984 15.0
985 0.327
986 15.4
987 1.8
988 0.017
989 541.0
990 3320.0
991 2100.0
992 2020.0
993 0.04
994 80.2
995 180.0
996 nan
997 nan
998 nan
999 54500.0
1000 0.74
1001 890.0
1002 0.0018
1003 0.46
1004 1241.0
1005 142.0
1006 255.0
1007 58.0
1008 897.0
1009 447.0
1010 nan
1011 nan
1012 nan
1013 25.0
1014 15.0
1015 50.4
1016 1.7
1017 3200.0
1018 8.6
1019 914.0
1020 760.0
1021 8610.0
1022 879.5
1023 0.28
1024 0.01
1025 37.9
1026 5000.0
1027 2286.0
1028 4.2
1029 19.7
1030 127.0
1031 5.97
1032 4300.0
1033 nan
1034 nan
1035 31.7
1036 nan
1037 350.0
1038 0.03
1039 2663.0
1040 46.0
1041 131.0
1042 21.0
1043 4.2
1044 81.0
1045 6.8
1046 4.1
1047 6.1
1048 585.0
1049 22.47
1050 38295.0
1051 100.7
1052 26.0
1053 nan
1054 5190.0
1055 nan
1056 22.0
1057 456.0
1058 0.127
1059 1370.0
1060 66.0
1061 361.5
1062 226.0
1063 757.0
1064 100.6
1065 nan
1066 0.83
1067 0.142
1068 0.38
1069 nan
1070 nan
1071 2.01
1072 1180.0
1073 2300.0
1074 8.0
1075 9.1
1076 4670.0
1077 0.61
1078 3.45
1079 636.0
1080 85.0
1081 nan
1082 nan
1083 35.5
1084 158.0
1085 210.0
1086 nan
1087 138.0
1088 6.0
1089 16.3
1090 54.0
1091 0.14
1092 3.8
1093 1170.0
1094 0.02
1095 170.0
1096 279000.0
1097 51.0
1098 nan
1099 nan
1100 0.039
1101 19.0
1102 2.1
1103 3400.0
1104 3100.0
1105 0.047
1106 48.2
1107 816.0
1108 11.0
1109 885.0
1110 0.027
1111 0.034
1112 0.3
1113 4500.0
1114 4808.0
1115 54.0
1116 0.022
1117 221.0
1118 103.0
1119 52000.0
1120 4745.0
1121 0.27
1122 39.0
1123 0.83
1124 0.97
1125 nan
1126 0.5
1127 5.35
1128 0.17
1129 35.0
1130 0.17
1131 nan
1132 32880.0
1133 4.06
1134 nan
1135 61.9
1136 54.0
1137 236.0
1138 0.0001347
1139 1570.0
1140 1400.0
1141 144.9
1142 16000.0
1143 94.8
1144 5.5
1145 0.007
1146 6.7
1147 0.72
1148 3.0
1149 6600.0
1150 88500.0
1151 105.0
1152 24.0
1153 890.0
1154 370.0
1155 9108.0
1156 57.0
1157 465.0
1158 417.0
1159 3.67
1160 324000.0
1161 0.0833
1162 78.0
1163 10.4
1164 0.015
1165 45.0
1166 2.97
1167 nan
1168 748.0
1169 151.0
1170 134.5
1171 4170.0
1172 103.0
1173 5310.0
1174 390.0
1175 366000.0
1176 93.0
1177 11.1
1178 172.0
1179 nan
1180 8.3
1181 761.0
1182 34.0
1183 nan
1184 49.0
1185 nan
1186 nan
1187 183.0
1188 nan
1189 nan
1190 5.73
1191 62.0
1192 6210.0
1193 115.0
1194 161.0
1195 6.7
1196 0.049
1197 6.2
1198 3.52
1199 138.0
1200 16200.0
1201 35.7
1202 2.8
1203 18.0
1204 1.53
1205 400.0
1206 1.55
1207 13000.0
1208 4013.0
1209 21.2
1210 540.0
1211 0.38
1212 25.7
1213 96.0
1214 22.0
1215 4.1
1216 300.0
1217 51.25
1218 nan
1219 0.44
1220 1.33
1221 130.0
1222 15.0
1223 29.2
1224 0.36
1225 24.13
1226 9.66
1227 2.21
1228 0.5
1229 nan
1230 134.9
1231 17.0
1232 19000.0
1233 7.3
1234 466.6
1235 160.0
1236 2.32
1237 385.9
1238 nan
1239 10190.0
1240 nan
1241 0.23
1242 81.4
1243 nan
1244 0.4
1245 1236.0
1246 0.16
1247 156.0
1248 3.4
1249 130.0
1250 0.52
1251 0.1
1252 0.02
1253 30900.0
1254 111000.0
1255 8.9
1256 113000.0
1257 0.022
1258 443.8
1259 0.694
1260 7.2
1261 433.0
1262 0
1263 13.9
1264 8.83
1265 9900.0
1266 nan
1267 1600.0
1268 3.0
1269 nan
1270 42.0
1271 0.021
1272 284.0
1273 236.0
1274 33.0
1275 2.6
1276 nan
1277 62.0
1278 79.5
1279 nan
1280 288000.0
1281 2311.0
1282 73.0
1283 12.0
1284 2.2
1285 1800.0
1286 110.0
1287 53.0
1288 6.6
1289 635.0
1290 0.033
1291 0.45
1292 0.408
1293 55000.0
1294 62.39
1295 120.0
1296 135.7
1297 9.1
1298 nan
1299 805.0
1300 0.0065
1301 371.0
1302 222.0
1303 49.8
1304 306.0
1305 1492.0
1306 1.5
1307 nan
1308 5000000.0
1309 6.17
1310 nan
1311 0.325
1312 0.98
1313 37.0
1314 640.0
1315 97.9
1316 180.0
1317 2.0
1318 26.8
1319 0.65
1320 0.76
1321 424.0
1322 nan
1323 nan
1324 770.0
1325 411.6
1326 800.0
1327 nan
1328 108.0
1329 2140.0
1330 0.0011
1331 89.6
1332 68.1
1333 135.0
1334 33.1
1335 0.062
1336 80.0
1337 510.0
1338 nan
1339 138.0
1340 8.6
1341 78.82
1342 19.4
1343 0.38
1344 1800.0
1345 6.4
1346 3204.0
1347 79.0
1348 1895.0
1349 nan
1350 90.0
1351 7.03
1352 nan
1353 28650.0
1354 0.0475
1355 1.3
1356 15833.0
1357 nan
1358 0.19
1359 5.278
1360 25.71
1361 800.0
1362 4.7
1363 1300.0
1364 17479.0
1365 521000.0
1366 46.0
1367 207.0
1368 0.582
1369 1500.0
1370 260.0
1371 4.2
1372 120.0
1373 210.0
1374 1308.0
1375 1.2
1376 27.4
1377 nan
1378 106.0
1379 5.133
1380 34960.0
1381 79830.0
1382 nan
1383 0.073
1384 6700.0
1385 0.00114
1386 47.0
1387 nan
1388 8300.0
1389 2.92
1390 59.1
1391 0.833
1392 283.0
1393 nan
1394 39.6
1395 3100.0
1396 1.3
1397 30.1
1398 300.0
1399 4.06
1400 24.0
1401 3.07
1402 533.3
1403 nan
1404 4.85
1405 1.7
1406 65.0
1407 2.2
1408 1100.0
1409 nan
1410 16.32
1411 13700.0
1412 0.0918
1413 1200.0
1414 3.3
1415 3.2
1416 14.1
1417 nan
1418 11.6
1419 7.5
1420 7500.0
1421 nan
1422 5721.0
1423 500.0
1424 0.733
1425 18.0
1426 4.1
1427 1.9
1428 21.9
1429 9.21
1430 nan
1431 nan
1432 38.0
1433 0.663
1434 9600.0
1435 0.00163
1436 nan
1437 4.4
1438 0.357
1439 14.8
1440 nan
1441 8.79
1442 6.6
1443 2.2
1444 nan
1445 165.0
1446 697.0
1447 128.0
1448 12000.0
1449 22.2
1450 31.4
1451 nan
1452 670.0
1453 33.8
1454 1274.0
1455 19.82
1456 nan
1457 1300.0
1458 1485.0
1459 1.4
1460 100.0
1461 0.78
1462 8.26
1463 10.8
1464 6.68
1465 230.0
1466 77.8
1467 0.668
1468 3900.0
1469 29.7
1470 43.8
1471 100.0
1472 9.1
1473 383.0
1474 3.17
1475 4.82
1476 7980.0
1477 276.0
1478 nan
1479 0.3
1480 0.36
1481 680.0
1482 0.17
1483 nan
1484 255.0
1485 nan
1486 3.3
1487 220.0
1488 0.64
1489 nan
1490 580.0
1491 15100.0
1492 14.3
1493 0.222
1494 nan
1495 nan
1496 83.3
1497 nan
1498 245.0
1499 0.83
1500 4.4
1501 980.0
1502 15.13
1503 nan
1504 2.8
1505 2.012
1506 5.88
1507 536.0
1508 134.0
1509 nan
1510 nan
1511 14.2
1512 8.15
1513 660.0
1514 nan
1515 nan
1516 5320.0
1517 0.025
1518 nan
1519 250.0
1520 3170.0
1521 31200.0
1522 330.0
1523 412000.0
1524 1.02
1525 7.45
1526 162.9
1527 nan
1528 0.0135
1529 2.27
1530 99830.0
1531 13800.0
1532 19800.0
1533 nan
1534 16.83
1535 450.0
1536 9.4
1537 2633.0
1538 240.0
1539 788.0
1540 21.14
1541 7900000.0
1542 430.0
1543 149.0
1544 nan
1545 nan
1546 6.0
1547 9.1
1548 684.0
1549 13.6
1550 nan
1551 128.0
1552 3.33
1553 272.0
1554 13.91
1555 104.0
1556 600000.0
1557 0.6
1558 840.0
1559 11920.0
1560 96.7
1561 nan
1562 79.5
1563 nan
1564 535.0
1565 11.8
1566 32.0
1567 208.0
1568 6092.0
1569 0.45
1570 65.0
1571 0.268
1572 8.1
1573 344.0
1574 14.1
1575 8.1
1576 0.55
1577 3.65
1578 0.067
1579 134.4
1580 3.9
1581 0.2
1582 43.0
1583 514.0
1584 3869.0
1585 342.0
1586 100.0
1587 nan
1588 330.0
1589 0.664
1590 104.7
1591 250.0
1592 0.0205
1593 860.0
1594 25.0
1595 17.0
1596 297.6
1597 14.0
1598 1414.0
1599 185.0
1600 197.0
1601 2.23
1602 49.0
1603 128.0
1604 1.7
1605 329.0
1606 1.7
1607 4.1
1608 521.0
1609 362.8
1610 550.0
1611 0.29
1612 238.0
1613 nan
1614 57.4
1615 130.0
1616 8.0
1617 8.3
1618 171.0
1619 632.0
1620 3.7
1621 1826.0
1622 352.0
1623 0.0867
1624 31.0
1625 4.33
1626 9.0
1627 nan
1628 nan
1629 311.0
1630 10.35
1631 58.0
1632 1.27
1633 34.0
1634 50.0
1635 7.0
1636 190.0
1637 4.83
1638 1.48
1639 250000.0
1640 230.0
1641 nan
1642 38.1
1643 0.039
1644 14.17
1645 15.0
1646 0.0582
1647 45.0
1648 4410.0
1649 0.51
1650 10.6
1651 939.0
1652 5.86
1653 20.7
1654 27.0
1655 4900.0
1656 5.66
1657 109.0
1658 0.24
1659 22.4
1660 1.8
1661 140.5
1662 1201.0
1663 nan
1664 930.0
1665 nan
1666 12.6
1667 2.6
1668 343.0
1669 1.6
1670 5.2
1671 2830000.0
1672 177.0

1673 190.0
1674 9.5
1675 10000.0
1676 341.0
1677 210.8
1678 nan
1679 1.0
1680 15.0
1681 16.7
1682 12.0
1683 12.2
1684 110.0
1685 69.7
1686 43.79
1687 41.67
1688 43.0
1689 6480.0
1690 70.0
1691 1.5
1692 5370.0
1693 57.0
1694 16.1
1695 12.13
1696 0.168
1697 7.18
1698 11.1
1699 26.0
1700 nan
1701 7.9
1702 5.09
1703 0.00139
1704 nan
1705 38.0
1706 10.5
1707 nan
1708 3.3
1709 0.435
1710 4.7
1711 131.0
1712 649.0
1713 0.019
1714 0.88
1715 21300.0
1716 0.9
1717 nan
1718 177.0
1719 330.0
1720 615.0
1721 2200.0
1722 0.0031
1723 42.26
1724 775.0
1725 1300.0
1726 49.3
1727 0.83
1728 1.27
1729 0.03
1730 1100.0
1731 33000000.0
1732 4833.0
1733 2.7
1734 32.7
1735 2.6
1736 nan
1737 76.8
1738 nan
1739 411.0
1740 0.0658
1741 nan
1742 97.5
1743 303.0
1744 430.0
1745 3.9
1746 910000.0
1747 3.67
1748 32.0
1749 nan
1750 0.053
1751 259.5
1752 0.86
1753 4400.0
1754 nan
1755 14400.0
1756 162.0
1757 0.15
1758 6.0
1759 0.9
1760 nan
1761 10.0
1762 1.54
1763 8.9
1764 18.3
1765 355200.0
1766 14.406
1767 450.0
1768 0.022
1769 2.09
1770 2.5
1771 0.476
1772 0.61
1773 4778.0
1774 nan
1775 7.2
1776 1329.0
1777 5.4
1778 1025.05
1779 1150.0
1780 0.519
1781 1.2
1782 1278.0
1783 0.2
1784 48.9
1785 1250.0
1786 45.0
1787 442.0
1788 287.0
1789 7659.0
1790 5.7
1791 54.0
1792 21000.0
1793 714.0
1794 nan
1795 2.3
1796 nan
1797 96.65
1798 4.83
1799 2208.0
1800 1.55
1801 0.075
1802 23.8
1803 29900.0
1804 12.0
1805 0.04
1806 545.2
1807 5.0
1808 6.08
1809 39760.0
1810 130.0
1811 4.1
1812 25000.0
1813 1800.0
1814 2.12
1815 90.0
1816 30.0
1817 8.6
1818 0.77
1819 nan
1820 nan
1821 158.0
1822 307.3
1823 253.0
1824 nan
1825 834.0
1826 10.02
1827 0.00083
1828 nan
1829 1032.0
1830 60.0
1831 214.0
1832 nan
1833 550.0
1834 nan

Mapping max EC kcat value to all data points:

In [26]:
df_EC_kcat = pd.read_pickle(join("..", "..", "data", "enzyme_data", "df_EC_max_kcat.pkl"))
df_kcat["max_kcat_for_EC"] = np.nan

for ind in df_kcat.index:
    ECs = df_kcat["ECs"][ind]
    max_kcat = 0
    for EC in ECs:
        try:
            max_kcat = max(max_kcat, list(df_EC_kcat["max_kcat"].loc[df_EC_kcat["EC"] == EC])[0])
        except:
            pass
    if max_kcat != 0:
        df_kcat["max_kcat_for_EC"][ind] = max_kcat
df_kcat.to_pickle(join("..", "..", "data", "kcat_data", "merged_and_grouped_kcat_dataset.pkl"))

In [27]:
df_sequences.to_pickle(join("..", "..", "data", "enzyme_data", "all_sequences_with_IDs.pkl"))
df_reactions.to_pickle(join("..", "..", "data", "reaction_data", "all_reactions_with_IDs.pkl"))

## 5. Calculating reaction fingerprints (structural and difference) for every reaction and a ESM-1b/ESM-1b_ts vector for every amino acid sequence:

#### (a) Executing jupyter notebook A2 to calculate the reaction fingerprints and enzyme representations. Then loading the results

In [28]:
df_kcat = pd.read_pickle(join("..", "..", "data", "kcat_data", "merged_and_grouped_kcat_dataset.pkl"))

In [29]:
df_sequences = pd.read_pickle(join("..", "..", "data", "enzyme_data", "all_sequences_with_IDs_and_ESM1b_ts.pkl"))
df_reactions = pd.read_pickle(join("..", "..", "data", "reaction_data", "all_reactions_with_IDs_and_FPs.pkl"))

#### (b) Mapping ESM-1b vectors and reaction fingerprints to kcat dataset:

In [30]:
df_kcat["structural_fp"], df_kcat["difference_fp"], df_kcat["ESM1b"], df_kcat["ESM1b_ts"] = "", "", "", ""

for ind in df_kcat.index:
    RID, SID = df_kcat["Reaction ID"][ind], df_kcat["Sequence ID"][ind]
    
    help_df = df_reactions.loc[df_reactions["Reaction ID"] == RID]
    df_kcat["structural_fp"][ind], df_kcat["difference_fp"][ind] = list(help_df["structural_fp"])[0], list(help_df["difference_fp"])[0]
    
    help_df = df_sequences.loc[df_sequences["Sequence ID"] == SID]
    df_kcat["ESM1b"][ind] = list(help_df["ESM1b"])[0]
    df_kcat["ESM1b_ts"][ind] = list(help_df["ESM1b_ts"])[0]
    
n = len(df_kcat)
#Remove values with missing reaction fingerprints or enzyme representation
df_kcat = df_kcat.loc[df_kcat["structural_fp"] != ""].loc[df_kcat["ESM1b"] != ""].loc[df_kcat["ESM1b_ts"] != ""]
print("Removing %s enzyme-reaction combinations because they either do not have a ESM1b vector or reaction fingerprint" % (n-len(df_kcat)))
df_kcat.to_pickle(join("..", "..", "data", "kcat_data", "merged_and_grouped_kcat_dataset_with_FPs_and_ESM1bs_ts.pkl"))
df_kcat.head()

Removing 26 enzyme-reaction combinations because they either do not have a ESM1b vector or reaction fingerprint

,Reaction ID,Sequence ID,kcat_values,Uniprot IDs,from_BRENDA,from_Sabio,from_Uniprot,checked,Sequence,substrates,products,MW_frac,max_kcat_for_UID,max_kcat_for_RID,ECs,max_kcat_for_EC,structural_fp,difference_fp,ESM1b,ESM1b_ts
0,Reaction_0,Sequence_2804,"[2.8, 0.05, 0.11, 205.0, 2.3, 134.0, 360.0]","[P20932, P20932, P20932, P20932, P20932, P2093...","[0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0]","[False, False, False, False, False, False, False]",MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,{InChI=1S/C8H6O3/c9-7(8(10)11)6-4-2-1-3-5-6/h1...,1.0,360.0,360.0,[1.1.99.31],550.0,1100110100001000000000110111010001000001111010...,"[0.0, 0.0, 0.0, 0.0, -10.0, 0.0, 0.0, 0.0, 0.0...","[-0.10137076, 0.2288914, -0.015987333, -0.1258...","[1.4432518, -0.67732114, -0.47628796, 0.273585..."
1,Reaction_1,Sequence_2804,"[1.2, 3.4, 0.61, 0.07]","[P20932, P20932, P20932, P20932]","[0, 0, 0, 0]","[1, 1, 1, 1]","[0, 0, 0, 0]","[False, False, False, False]",MSQNLFNVEDYRKLRQKRLPKMVYDYLEGGAEDEYGVKHNRDVFQQ...,"{InChI=1S/O2/c1-2, InChI=1S/C17H23N4O9P/c1-7-3...",{InChI=1S/C17H21N4O9P/c1-7-3-9-10(4-8(7)2)21(1...,1.0,360.0,3.4,[1.1.99.31],550.0,1100010100000001010000110110000001000001111000...,"[0.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 0.0,...","[-0.10137076, 0.2288914, -0.015987333, -0.1258...","[1.4432518, -0.67732114, -0.47628796, 0.273585..."
2,Reaction_2,Sequence_654,"[6.18, 14.5, 11.58, 13.12, 11.9, 13.98, 14.08,...","[P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ4, P0ABQ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[False, False, False, False, False, False, Fal...",MISLIAALAVDRVIGMENAMPWNLPADLAWFKRNTLNKPVIMGRHT...,{InChI=1S/C21H28N7O17P3/c22-17-12-19(25-7-24-1...,{InChI=1S/C19H21N7O6/c20-19-25-15-14(17(30)26-...,1.0,29.0,29.0,[1.5.1.3],284.0,1100111100000001001000110110010001001101111100...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.042246904, 0.16851102, 0.13812073, 0.122140...","[0.096282594, 0.3337034, -0.029832274, 1.48037..."
3,Reaction_4,Sequence_3757,"[57.1, 19.6, 5.96, 13.6, 26.4, 14.0, 41.1, 11....","[P25704, P25704, P25704, P25704, P25704, P2570...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[False, False, False, False, False, False, Fal...",MAMQKIFAREILDSRGNPTVEVDLHTAKGRFRAAVPSGASTGIYEA...,"{InChI=1S/C3H7O7P/c4-1-2(3(5)6)10-11(7,8)9/h2,...","{InChI=1S/H2O/h1H2, InChI=1S/C3H5O6P/c1-2(3(4)...",1.0,57.1,84.0,[4.2.1.11],230.0,1000000000000000000000000000000001000000111000...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.23047563, 0.11644004, 0.20232426, 0.1047162...","[0.92037296, -0.609104, -0.08211782, 0.7741341..."
4,Reaction_5,Sequence_1849,"[2.98, 0.87]","[P04746, P04746]","[0, 0]","[1, 1]","[0, 0]","[False, False]",MKFFLLLFTIGFCWAQYSPNTQQGRTSIVHLFEWRWVDIALECERY...,{InChI=1S/C18H32O16/c19-1-4-7(22)8(23)12(27)17...,{InChI=1S/C12H22O11/c13-1-3-5(15)6(16)9(19)12(...,1.0,2.98,2.98,[3.2.1.1],40000.0,1100010100000000000000110110000001000001111000...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-0.037656367, 0.2188794, 0.0052122683, 0.0526...","[-0.71167904, -0.441727, -0.76062304, 0.526973..."

## 6.Removing outliers and non-natural reactions:

In [38]:
df_kcat = pd.read_pickle(join("..", "..", "data", "kcat_data", "merged_and_grouped_kcat_dataset_with_FPs_and_ESM1bs_ts.pkl"))

#### (a) Calculating the geometric mean and log10-transforming it for all enzyme-reaction pairs:
To ignore $k_{cat}$ values that were obtained under non-optimal conditions, we exclude values lower than 1\% than the maximal $k_{cat}$ value for the same enzyme-reaction combination.

In [39]:
df_kcat["geomean_kcat"] = np.nan
df_kcat["frac_of_max_UID"] = np.nan
df_kcat["frac_of_max_RID"] = np.nan
df_kcat["frac_of_max_EC"] = np.nan

for ind in df_kcat.index:
    all_kcat = np.array(df_kcat["kcat_values"][ind]).astype(float)
    max_kcat = max(all_kcat)
    all_kcat_top = [kcat for kcat in all_kcat  if kcat/max_kcat > 0.01]
    df_kcat["geomean_kcat"][ind] = np.mean(np.log10(all_kcat_top))
    
    df_kcat["frac_of_max_UID"][ind] =  np.max(np.array(df_kcat["kcat_values"][ind]).astype(float))/df_kcat["max_kcat_for_UID"][ind]
    df_kcat["frac_of_max_RID"][ind] =  np.max(np.array(df_kcat["kcat_values"][ind]).astype(float))/df_kcat["max_kcat_for_RID"][ind]
    df_kcat["frac_of_max_EC"][ind] = np.max(np.array(df_kcat["kcat_values"][ind]).astype(float))/df_kcat["max_kcat_for_EC"][ind]
df_kcat = df_kcat.loc[~pd.isnull(df_kcat["geomean_kcat"])]

len(df_kcat)

7470

#### (b) We are only interested in kcat values that were measured for the natural reaction of an enzyme:
To achieve this we exclude kcat values for an enzyme if another measurement exists for the same enzyme but for different reaction with a kcat value that is more than ten times higher. Furthermore, to exlcude data points measured under non-optimal conditions and for non-natural reactions, we exclude kcat values if we could find a kcat value for the same reaction or same EC number that is more than 100 times higher.

In [40]:
n = len(df_kcat)

df_kcat = df_kcat.loc[df_kcat["frac_of_max_UID"] > 0.1]
df_kcat = df_kcat.loc[df_kcat["frac_of_max_RID"] > 0.01]

df_kcat["frac_of_max_EC"].loc[pd.isnull(df_kcat["frac_of_max_EC"])] = 1
df_kcat = df_kcat.loc[df_kcat["frac_of_max_EC"] < 10]
df_kcat = df_kcat.loc[df_kcat["frac_of_max_EC"] > 0.01]

In [41]:
print("We remove %s data points, because we suspect that these kcat values were not measure for the natural reaction " \
    "of an enzyme or under non-optimal conditions." % (n-len(df_kcat)))

We remove 3092 data points, because we suspect that these kcat values were not measure for the natural reaction of an enzyme or under non-optimal conditions.

#### (c) Removing data points with reaction queations with uneven fraction of molecular weights

In [42]:
n = len(df_kcat)

df_kcat = df_kcat.loc[df_kcat["MW_frac"] < 3]
df_kcat = df_kcat.loc[df_kcat["MW_frac"] > 1/3]

print("We remove %s data points because the sum of molecular weights of substrates does not match the sum of molecular" \
      "weights of the products." % (n-len(df_kcat)))

We remove 52 data points because the sum of molecular weights of substrates does not match the sum of molecularweights of the products.

#### (d) Removing data points with outlying kcat values:

In [43]:
n = len(df_kcat)

df_kcat = df_kcat.loc[~(df_kcat["geomean_kcat"]>5)]
df_kcat = df_kcat.loc[~(df_kcat["geomean_kcat"]<-2.5)]

print("We remove %s data point because their kcat values are outliers." % (n-len(df_kcat)))

We remove 55 data point because their kcat values are outliers.

In [44]:
print("Size of final kcat dataset: %s" % len(df_kcat))
df_kcat.to_pickle(join("..", "..", "data", "kcat_data", "final_kcat_dataset.pkl"))

Size of final kcat dataset: 4271

## 7. Splitting the dataset into training and test set:

#### (a) Splitting the dataset in such a way that the same enzyme does not occur in the training and the test set:

Shuffling DataFrame:

In [45]:
df = df_kcat.copy()
df = df.sample(frac = 1, random_state = 123)
df.reset_index(drop= True, inplace = True)

Splitting dataset

In [46]:
train_df, test_df = split_dataframe_enzyme(frac = 5, df = df.copy())
print("Test set size: %s" % len(test_df))
print("Training set size: %s" % len(train_df))
print("Size of test set in percent: %s" % np.round(100*len(test_df)/ (len(test_df) + len(train_df))))


train_df.reset_index(inplace = True, drop = True)
test_df.reset_index(inplace = True, drop = True)

train_df.to_pickle(join("..", "..", "data", "kcat_data", "splits", "train_df_kcat.pkl"))
test_df.to_pickle(join("..", "..", "data", "kcat_data", "splits", "test_df_kcat.pkl"))

Test set size: 850
Training set size: 3421
Size of test set in percent: 20.0

#### (b) Splitting the training set into 5 folds for 5-fold cross-validations (CVs):
In order to achieve a model that generalizes well during CV, we created the 5 folds in such a way that neither the same enzyme nor the same reaction occurs in two different subsets.

In [47]:
train_df = pd.read_pickle(join("..", "..", "data", "kcat_data", "splits", "train_df_kcat.pkl"))
test_df = pd.read_pickle(join("..", "..", "data", "kcat_data", "splits", "test_df_kcat.pkl"))

In [48]:
data_train2 = train_df.copy()
data_train2["index"] = list(data_train2.index)

data_train2, df_fold = split_dataframe_enzyme(df = data_train2, frac=5)
indices_fold1 = list(df_fold["index"])
print(len(data_train2), len(indices_fold1))#

data_train2, df_fold = split_dataframe_enzyme(df = data_train2, frac=4)
indices_fold2 = list(df_fold["index"])
print(len(data_train2), len(indices_fold2))

data_train2, df_fold = split_dataframe_enzyme(df = data_train2, frac=3)
indices_fold3 = list(df_fold["index"])
print(len(data_train2), len(indices_fold3))

data_train2, df_fold = split_dataframe_enzyme(df = data_train2, frac=2)
indices_fold4 = list(df_fold["index"])
indices_fold5 = list(data_train2["index"])
print(len(data_train2), len(indices_fold4))


fold_indices = [indices_fold1, indices_fold2, indices_fold3, indices_fold4, indices_fold5]

train_indices = [[], [], [], [], []]
test_indices = [[], [], [], [], []]

for i in range(5):
    for j in range(5):
        if i != j:
            train_indices[i] = train_indices[i] + fold_indices[j]
    test_indices[i] = fold_indices[i]
    
    
np.save(join("..", "..", "data", "kcat_data", "splits", "CV_train_indices"), train_indices)
np.save(join("..", "..", "data", "kcat_data", "splits", "CV_test_indices"), test_indices)

2704 717
2001 703
1311 690
656 655